@model E_Shop_Engine.Website.Models.SubcategoryViewModel

@{
    ViewBag.Title = Model.Name;
}

<h1>@Model.CategoryName - @Model.Name</h1>

<div class="w-100 text-center my-4">
    <div class="text-left">
        @Html.ActionLink("Go to " + Model.CategoryName, "Details", "Category", new { id = Model.CategoryId, name = Model.CategoryName }, new { @class = "btn btn-primary m-2" })
    </div>

    @Html.Action("ProductsToPagedList", "Product", new { model = Model.Products })
</div>
