@model E_Shop_Engine.Website.Models.SubcategoryViewModel

@{
    ViewBag.Title = "Details";
}


@Html.ActionLink("Go to " + Model.CategoryName, "Details", "Category", new { id = Model.CategoryId }, new { @class = "btn btn-primary m-2" })

<h2>@Model.CategoryName - @Model.Name</h2>

@Html.Partial("_ProductsDeck", Model.Products)

