@using E_Shop_Engine.Website.Extensions
@model E_Shop_Engine.Website.Models.OrderViewModel

@{
    ViewBag.Title = "New Order";
}

<h1>New Order</h1>

<a href="@Url.Action("DotPayPayment", "Payment")" class="btn btn-outline-secondary" id="dotpayLink">
    <img src="~/Content/dotpay_logo.jpg" class="card-img" />
</a>

@section Scripts {
    @Scripts.Render("~/Bundles/validate")
}
