@{
    ViewBag.Title = "Confirm Email";
}

<h1>@ViewBag.Title</h1>
<div>
    <p>
        Thank you for confirming your email. Please @Html.ActionLink("click here to Log in", "Login", "Account")
    </p>
</div>
