@{
    ViewBag.Title = "Reset password confirmation";
}

<h1>@ViewBag.Title</h1>
<div>
    <p>
        Your password has been reset. Please @Html.ActionLink("click here to log in", "Login", "Account")
    </p>
</div>
