@model E_Shop_Engine.Website.Models.CategoryViewModel

@{
    ViewBag.Title = "Details";
}

<h2>@Model.Name</h2>

<div class="w-100 text-center my-4">
    @foreach (var subcategory in Model.Subcategories)
    {
        @Html.ActionLink(subcategory.Name, "Details", "Subcategory", new { id = subcategory.Id }, new { @class = "btn btn-primary mr-2 mb-2" })
    }
</div>

@Html.Partial("_ProductsDeck", Model.Products)

